<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
    </div>
  </main>
  <body>
    <div class="jumbotron">
        <div style="display: flex;justify-content: space-between;">
            <div style="background-color: red;width: 30%">
                <div>
                    <img src="https://www.w3schools.com/images/w3schools_green.jpg"  width="400" height="255">
                    <h1>First</h1>
                 </div>
            </div>
            <div style="background-color: red;width: 30%">
                <img src="/public/Assets/images/beaw.png"  width="400" height="255">
                <h1>Second</h1>
            </div>
            <div style="background-color: red;width: 30%">
                <img src="https://www.w3schools.com/images/w3schools_green.jpg"  width="400" height="255">
                <h1>Third</h1>
            </div>
        </div>
        <div style="display: flex;justify-content: space-between;margin-top: 20px;">
            <div style="background-color: red;width: 30%">
                <img src="https://www.w3schools.com/images/w3schools_green.jpg"  width="400" height="255">
                <h1>Fourth</h1>
            </div>
            <div style="background-color: red;width: 30%">
                <img src="https://www.w3schools.com/images/w3schools_green.jpg"  width="400" height="255">
                <h1>Fifth</h1>
            </div>
            <div style="background-color: red;width: 30%">
                <img src="https://www.w3schools.com/images/w3schools_green.jpg"  width="400" height="255">
                <h1>Sixth</h1>
            </div>
        </div>
        <div style="display: flex;justify-content: space-between;margin-top: 20px;">
            <div style="background-color: red;width: 30%">
                <img src="https://www.w3schools.com/images/w3schools_green.jpg"  width="400" height="255">
                <h1>Seventh</h1>
            </div>
            <div style="background-color: red;width: 30%">
                <img src="https://www.w3schools.com/images/w3schools_green.jpg"  width="400" height="255">
                <h1>Eighth</h1>
            </div>
            <div style="background-color: red;width: 30%">
                <img src="https://www.w3schools.com/images/w3schools_green.jpg"  width="400" height="255">
                <h1>Nineth</h1>
            </div>
        </div>
    </div>
  </body>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




