<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
  

  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
    </div>
  </main>
  <body>
    <div class="jumbotron">
        <div style="display: flex;justify-content: space-between;">
            <div style="background-color: red;width: 30%">
                <div>
                    <img src="https://www.w3schools.com/images/w3schools_green.jpg"  width="400" height="255">
                    <h1>React Native</h1>
                 </div>
            </div>
            <div style="width: 30%">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/539px-React-icon.svg.png"  width="400" height="255">
                <h1 style="text-align: center;">React</h1>
            </div>
            <div style="background-color: red;width: 30%">
                <img src="https://www.w3schools.com/images/w3schools_green.jpg"  width="400" height="255">
                <h1>MongoDb</h1>
            </div>
        </div>
        <div style="display: flex;justify-content: space-between;margin-top: 20px;">
            <div style="background-color: red;width: 30%">
                <img src="https://www.w3schools.com/images/w3schools_green.jpg"  width="400" height="255">
                <h1>Asp .Net</h1>
            </div>
        </div>
    </div>
  </body>
  
<%- include partials/bottom_nav.ejs %> 

<%- include partials/footer.ejs %>
  